{% extends 'base.html' %}

{% block title %} Product Page {% endblock %}

{% block content %}


    <div class="flex justify-between mb-4">
        <h2>Product List</h2>
        <form action="{% url 'add-product' %}">

            <button class="p-2 px-4 bg-green-600 rounded-sm text-white">Add New</button>
        </form>
    
    </div>
    <div>
        
            {%for product in products %}
            
                <div class="bg-white border-2 drop-shadow-sm mb-4 p-4">
                    <div>
                        <p> {{product.name}}</p>
                        <p>old price is - {{product.old_price}}</p>
                        <p>new price is - 0</p>
                    </div>
                    <div class="flex justify-items-end w-full ">

                        <button class="p-1 px-6 m-8 rounded bg-yellow-500 text-white">Edit</button>
                          <!-- Delete form with a button and confirmation dialog -->
                    <form action="{% url 'delete-product' product.pk %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Are you sure you want to delete {{ product.name }}?');"
                                class="bg-red-600 text-white p-2 px-6 rounded">Delete</button>
                    </form>
                        <!-- <button class="p-1 px-6 rounded bg-green-700 text-white">Delete</button> -->
                    </div>

             
    
                </div>
    
               
            
            {% endfor %}
    
       
    </div>



{% endblock %}